/target/
/nbproject/
/c-projects/graph-caratheodory-serial/build/
/c-projects/graph-caratheodory-serial/dist/
/c-projects/graph-hull-number-serial/build/
/c-projects/graph-hull-number-serial/dist/
/.idea/
/c-projects/blank-c/build/
/c-projects/blank-c/dist/
/c-projects/blank-cpp/dist/
/c-projects/blank-cpp/build/
/c-projects/graph-caratheodory-parallel/bin/