<!DOCTYPE html>
<html lang="pt-br">
    <!--References: http://bl.ocks.org/mbostock/4062045-->
    <head>
        <meta charset="utf-8">
        <title>Graph Problems</title>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
        <script src="assets/js/filesaver.min.js"></script>

        <style>
            .node {
                fill: #000;
                cursor: crosshair;
            }

            .node_selected {
                fill: #ff7f0e;
                stroke: #ff7f0e;
            }

            .drag_line {
                stroke: #999;
                stroke-width: 5;
                pointer-events: none;
            }

            .drag_line_hidden {
                stroke: #999;
                stroke-width: 0;
                pointer-events: none;
            }

            .link {
                stroke: #999;
                stroke-width: 5;
                cursor: crosshair;
            }

            .link_selected {
                stroke: #ff7f0e;
            }

            .node title, .node text {
                pointer-events: none;
                font: 10px sans-serif;
            }

            samp {
                overflow: auto;
                word-wrap: normal;
                white-space: pre;
            }
        </style>
    </head>
    <body >
        <div class="jumbotron">
            <div class="container">
                <h1>Graph Problems</h1>
                <p>P3-Convexity</p>
            </div>
        </div>

        <div class="container-fluid" ng-app="appCaratheodroyNumber" 
             ng-controller="caratheodoryNumberController">
            <div class="row">
                <div class="col-md-3">
                    <fieldset>
                        <legend>Generate</legend>
                        <div class="form-group">
                            <label for="typeG">Type</label>
                            <select type="select" class="form-control"
                                    ng-model="typeGraph"
                                    id="typeG" name="minDegree" 
                                    placeholder="1">
                                <option ng-repeat="x in generators" value="{{x.key}}">{{x.value}}</option>
                            </select>
                        </div>

                        <div class="form-group" ng-repeat="p in typeGraph.parameters">                            
                            <label>p</label>
                            <input type="text" 
                                   class="form-control"
                                   name="p" 
                                   autofocus required>
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="generateGraph();" 
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-repeat"></span>
                                Generate graph
                            </button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Graph</legend>
                        <div class="form-group">
                            <label>Vertices({{graph.vertexCount}})</label>
                            <input class="form-control" disabled
                                   ng-model="graph.vertices" />
                        </div>
                        <div class="form-group">
                            <label>Edges({{graph.edgeCount}})</label>
                            <input class="form-control" disabled
                                   value="{{graph.pairs}}" />
                        </div>

                        <div class="form-group">
                            <input name="file" id="file" 
                                   class="form-control" type="file"
                                   ng-file-select="onFileSelect($files)">
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadGraphCsr();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download (csr)
                            </button>
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadGraph();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download (json)
                            </button>
                            <button ng-click="uploadedFile()" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                Upload (json)
                            </button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Analyze</legend>
                        <div class="form-group">
                            <label>Caratheodroy number(c)</label>
                            <input class="form-control" 
                                   ng-model="caratheodory.number" 
                                   disabled readonly>
                        </div>
                        <div class="form-group">
                            <label>Caratheodroy set(S)</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="caratheodory.set" 
                                   disabled readonly>
                        </div>

                        <div class="form-group">
                            <label>Convex hull(H(S))</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="caratheodory.hs" 
                                   disabled readonly>
                        </div>

                        <div class="form-group">
                            <label>∂H(S)=H(S)\⋃p∈SH(S\{p})</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="caratheodory.phs" 
                                   disabled readonly>
                        </div>
                        <div class="form-group">
                            <label>Time(s)</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="caratheodory.tms" 
                                   disabled readonly>
                        </div>

                        <div class="form-group">
                            <label for="typeG">Operation</label>
                            <select class="form-control" name="typeOperation"
                                    ng-model="operation"
                                    id="typeOperation"
                                    placeholder="1">
                                <option value=""></option>
                                <option ng-repeat="y in operations" value="{{y.key}}">{{y.value}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Input</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="inputData">
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="executeOperation();" 
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-certificate"></span>
                                Execute
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Graph</h2>
                        </div>

                        <div class="panel-body">
                            <div id="grafo" class="form-group" style="height: 800px;">

                            </div>
                        </div>
                        <div id="spinner" ng-show="processing">
                            <img src="assets/img/spinner.gif" alt="">
                        </div>
                        <div class="well well-sm pre-scrollable">
                            <samp ng-repeat="l in outputConsole track by $index">{{l + '\n'}}</samp>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = angular.module('appCaratheodroyNumber', []);
            app.controller('caratheodoryNumberController', function ($scope, $http, $timeout) {
                $scope.nvertices = 5;
                $scope.minDegree = 1;
                $scope.maxDegree = 2.0;
                $scope.generators = null;
                $scope.operations = null;
                $scope.operation = null;
                $scope.processing = false;
                $scope.typeGraph = 'random';
                $scope.inputData = null;
                $scope.outputConsole = ['[INFO] BUILD SUCCESS'];
                $scope.graph = null;
                $scope.file = null;
                $scope.caratheodory = {number: null, set: [], aux: [], hs: [], phs: []};

                $scope.downloadGraph = function () {
                    var filename = 'graph-' + $scope.nvertices + '-' + $scope.minDegree + '-' + $scope.maxDegree + '.json';
                    var textContent = JSON.stringify($scope.graph, null, '\t');
                    var blob = new Blob([textContent], {type: "text/plain;charset=utf-8"});
                    saveAs(blob, filename);
                };

                $scope.downloadGraphCsr = function () {
                    $http.post('rest/graph/download-graph-csr', $scope.graph).success(function (textContent) {
                        var filename = 'graph-' + $scope.nvertices + '-' + $scope.minDegree + '-' + $scope.maxDegree + '.csr';
                        var blob = new Blob([textContent], {type: "text/plain;charset=utf-8"});
                        saveAs(blob, filename);
                    });
                };


                $scope.uploadedFile = function () {
                    if (!$scope.file) {
                        window.alert('File invalid');
                        return;
                    }
                    var fr = new FileReader();
                    fr.onload = function (e) {
                        var graph = JSON.parse(e.target.result);
                        if (!graph || !graph.vertices || !graph.pairs) {
                            window.alert('File format invalid');
                        } else {
                            $scope.graph = graph;
                            $scope.updateGraph();
                        }
                    };
                    fr.readAsText($scope.file);
                };
                $scope.updateGraph = function () {
                    var graph = $scope.graph;
                    var width = $("#grafo").width();
                    var height = $("#grafo").height();
                    $("#grafo").html('');
                    var color = d3.scale.category20();
                    var force = d3.layout.force()
                            .charge(-120)
                            .linkDistance(70)
                            .size([width, height]);
                    var svg = d3.select("#grafo")
                            .append("svg")
                            .attr("width", width)
                            .attr("height", height);
                    var vertex = graph.vertices.map(function (d) {
                        return {"name": d, "group": 1};
                    });
                    var edges = graph.pairs.map(function (d) {
                        return {"source": d[0], "target": d[1], "value": 2, "origin": d};
                    });
                    force.nodes(vertex).links(edges).start();
                    var link = svg.selectAll(".link")
                            .data(edges)
                            .enter().append("line")
                            .attr("class", "link")
                            .style("stroke-width", function (d) {
                                return Math.sqrt(d.value);
                            });
                    var nodes = svg.selectAll(".node")
                            .data(vertex)
                            .enter().append("g")
                            .attr("class", "node")
                            .call(force.drag);
                    nodes.append("circle")
                            .attr("class", "node")
                            .attr("r", 5)
                            //                                .attr("x", -8)
                            //                                .attr("y", -8)
                            .style("fill", function (d) {
                                return color(d.group);
                            }).call(force.drag);
                    nodes.append("text").attr("dx", 6)
                            .attr("dy", ".35em")
                            .text(function (d) {
                                return d.name;
                            });
                    force.on("tick", function () {
                        link.attr("x1", function (d) {
                            return d.source.x;
                        }).attr("y1", function (d) {
                            return d.source.y;
                        }).attr("x2", function (d) {
                            return d.target.x;
                        }).attr("y2", function (d) {
                            return d.target.y;
                        });
                        nodes.attr("transform", function (d) {
                            return "translate(" + d.x + "," + d.y + ")";
                        }).attr("cx", function (d) {
                            return d.x;
                        }).attr("cy", function (d) {
                            return d.y;
                        });
                    });
                }
                ;
                $scope.generateGraph = function () {
                    $http.get('rest/graph/generate-graph', {
                        params: {
                            nvertices: $scope.nvertices,
                            minDegree: $scope.minDegree,
                            maxDegree: $scope.maxDegree,
                            typeGraph: $scope.typeGraph
                        }
                    }).success(function (graph) {
                        $scope.graph = graph;
                        $scope.updateGraph();
                    });
                };

                $scope.executeOperation = function () {
                    $scope.graph.inputData = $scope.inputData;
                    if ($scope.inputData)
                        $scope.graph.set = $scope.inputData.split(',').map(Number);
                    $scope.outputConsole = ['Processing...'];
                    $scope.graph.operation = $scope.operation;
                    $scope.processing = true;
                    $http.post('rest/graph/operation', $scope.graph).success(function (caratheodorydata) {
                        $scope.caratheodory = caratheodorydata;
//                        $scope.inputData = '';
                        $scope.processing = false;
                        $scope.outputConsole = ['Finish'];
//                        console.log($scope.caratheodory);
//                        console.log($scope.caratheodory.set);
                        if (!$scope.caratheodory.set || $scope.caratheodory.set.length == 0) {
                            $scope.caratheodory.set = ['∄'];
                        }
                    }).error(function (err) {
                        $scope.processing = false;
                        window.alert('Error: ' + err);
                    });
                };

                $http.get('rest/graph/list-graph-generator').success(function (gen) {
                    $scope.generators = gen;
                });

                $http.get('rest/graph/list-graph-operation').success(function (ops) {
                    $scope.operations = ops;
                });

                $scope.generateGraph();

                $scope.pollerConsoleOutput = function () {
                    $http.post('rest/graph/process-status').success(function (r) {
                        $scope.processing = r.processing;
//                        console.log(r);
                        if (r.output)
                            for (var i = 0; i < r.output.length; i++) {
                                $scope.outputConsole.push(r.output[i]);
                            }
                        $timeout($scope.pollerConsoleOutput, 5000);
                    });
                };
//                $scope.pollerConsoleOutput();
            });
            app.directive("ngFileSelect", function () {
                return {
                    link: function ($scope, el) {
                        el.bind("change", function (e) {
                            var file = (e.srcElement || e.target).files[0];
                            $scope.file = file;
                        });
                    }
                };
            });
        </script>
    </body>
</html>